# Server environment variables
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=your_mysql_password
MYSQL_DATABASE=vishal_portfolio
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
RECEIVER_EMAIL=your-email@example.com

# Client environment variables
VITE_API_URL=http://localhost:5000
